:root {
  /* Font */
  --font-family: 'Rajdhani', sans-serif;

  /* General */
  --bg-color: #fafafa;
  --font-color: #000;
  --font-color-faint: #666;

  /* Input / Select */
  --input-bg-color: #fff;
  --input-border-color: #ccc;
  --input-focus-color: var(--accent-color);

  --placeholder-color: #999;

  /* Select */
  --option-bg-color: #fff;
  --option-color: #000;
  --option-selected-bg-color: #f0f0f0;
  --option-selected-color: #000;

  /* Button */
  --button-bg-color: #f0f0f0;
  --button-hover-bg-color: #e5e5e5;
  --button-border-color: #ccc;

  /* Accent */
  --accent-color: #2563eb;
  --accent-color-hover: #1d4ed8;

  /* Status */
  --success-color: #16a34a;
  --warning-color: #d97706;
  --error-color: #dc2626;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* General */
    --bg-color: #303030;
    --font-color: #fff;
    --font-color-faint: #999;

    /* Input / Select */
    --input-bg-color: #707070;
    --input-border-color: #888;

    --placeholder-color: #aaa;

    /* Select */
    --option-bg-color: #707070;
    --option-color: #fff;
    --option-selected-bg-color: #505050;
    --option-selected-color: #fff;

    /* Button */
    --button-bg-color: #505050;
    --button-hover-bg-color: #606060;
    --button-border-color: #666;

    /* Accent */
    --accent-color: #60a5fa;
    --accent-color-hover: #93c5fd;

    /* Status */
    --success-color: #4ade80;
    --warning-color: #fbbf24;
    --error-color: #f87171;
  }
}
